<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="true">

    <filter>
        <whitelist>
            <directory>.</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="Unit Tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
</phpunit>
